<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Title</title>
</head>
<body>
    <input id="na" type="text" />
    <input type="button" value="点击ajax" onclick="Doajax();">

    <script src="/static/jquery/jquery-1.8.3.js"></script>
    <script type="text/javascript">
        function Doajax(){
            var temp = $('#na').val();
            $.ajax({
                url:'/ajax/index/',
                type:'POST',
                data:{dat:temp},
                success:function(arg){
                    var obj = jQuery.parseJSON(arg);  //获取传来得msg,装换后,jquery才能识别;
                    console.log(obj.status);  //获取传来的json格式中指定字段;
                    console.log(arg)   //打印从服务端接受到得信息;
                    console.log('success');
                },
                error:function(){
                    console.log('failed');
                }
            })
        }
    </script>
</body>
</html>